.grid {
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(3, 1fr);
}

.square {
  color: white;
  border: solid 3px #000000;
  border-radius: 10%;
  height: 100px;
  font-size: 5rem;
  width: 100px;
}

.square_o {
  background-color: #ffbdf8;
}

.square_x {
  background-color: #90f6ff;
}

.reset {
  background: #8c5fb9;
  border: none;
  border-radius: 6px;
  color: white;
  cursor: pointer;
  font-size: 2rem;
  margin-top: 2rem;
  padding: 1rem;
}

p {
  font-size: 2rem;
}

/* #fb4859
/* #fce987 */
